body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  color: darkblue;
  text-align: center;
}
h1 {
  font-size: 36px;
  margin-top: 20px;
}
p {
  font-size: 18px;
  margin: 20px;
}
pre {
  background-color: white;
  padding: 10px;
  border: 1px solid darkblue;
  display: inline-block;
  text-align: left;
  font-size: large;
}
ul {
  list-style-image: url("../imagens2/css3-alt.png"); /* marcador usando imagem */
  list-style-position: inside; /* garante que o ícone apareça dentro do bloco */
  padding-left: 40px; /* afasta o texto da imagem */
  background-image: linear-gradient(to right, lightblue, rgb(55, 55, 101));
} 
/* nao ta funcionando a imagem*/
ul li {
  list-style-type: square;
}
address {
  font-style: normal;
  margin-top: 20px;
  font-size: 14px;
  padding: 12px;
}
