*{
    margin:0;
    padding: 0;
}
li{
    list-style-type: none;
}
figure{
    width:100%; 
    height:100%; 
    overflow:hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
figure img{
    filter:grayscale(100%);
    height:100%;
    width: 100%;
    object-fit: cover;
    display:block
}
h3{
    font-size: 2em;
    font-family: 'Roboto Mono', monospace; 
    font-weight: bold;
    margin-bottom: 0.4em;
}
header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to left, #2980B9, #1F618D ); 
    padding:1.5em 4em;
    color: white;
    margin-bottom: 1em;
}
main{
    display: grid;
    grid-template-areas:
    "nav cilium programacao programacao amanda"
    "nav organizacao inscricoes natalia henrique"
    "nav larissa inscricoes organizadores organizadores";
    grid-template-columns: 0.8fr 1.0fr 1.5fr 0.7fr 0.7fr; 
    grid-template-rows: 15rem 15rem auto; 
    gap: 1em; 
    max-width:100vw;
    box-sizing: content-box;
}
nav{
    background-color: #C5D1D9;
    color:#34738C;
    font-family: 'Roboto Mono', monospace; 
    font-size: 2em;
    padding: 0em 1em;
    grid-area: nav;
    box-sizing: content-box;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
}
nav>ol>li{
    padding: 1em 0em;
    font-weight: bold;
    text-align: left;
}
footer{
    background-color: #2980B9;
    color: white;
    padding: 2em 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 1em;
}
section.cilium{
    background-color: #ECECEC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    padding: 2.5em 2em; 
    grid-area: cilium;
}
section.cilium>a{
    padding:.1em;
    border:1px solid #2980B9;
    text-decoration: none;
    color:#2980B9;
    display: inline-block;
    margin-top: 0.5rem;
}
span.destaque{
    color: #2980B9;
    font-weight: bold;
}
section.organizacao{
    background-color: #ECECEC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    padding: 0.4em 1.5em;
    grid-area: organizacao;
}
.organizacao>ol{
    margin: 0.5em;
    padding-left: 1.5em;
    list-style-position: outside;
}
.organizacao>ol>li{
    list-style-type: disc; /* deixa os circulos pretos */
    padding: 0.3em 0;
}
section.larissa{
    grid-area: larissa;
}
section.programacao{
    grid-area: programacao;
    background-color: #ECECEC;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2em;
}
section.programacao>table{
    border-collapse: collapse;
    margin: 0.5em 0.2em;
    width: 100%;
}
section.programacao td{
    border: solid 2px rgb(255, 255, 255);
    padding: 5px 50px;
    vertical-align: middle;
    text-align: left;
}
section.inscricoes{
    grid-area:inscricoes;
    background-color: #ECECEC;
    padding: 0.9em;
}
section.inscricoes>form{
    margin-top: .5em;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
}
input[type=text]{
    display: inline-block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding:1em;
    margin:6px 0;
    border: 0.1em solid #3b3b3b;
    border-radius: 1px;
}
input[type=checkbox]{
    margin: 10px;
    align-self: flex-right;
}
section.inscricoes form label:has(input[type=checkbox]) {
    align-self: flex-right;
    margin-left: 0.5em;
}
input[type=submit]{
    background-color: #34495E;
    border: 0.5em solid #34495E;
    color: white;
    padding: 0.5em 3em;
    display: block;
    margin: 20px auto;
    width: 100%;
    box-sizing: border-box;
    border-radius: 1px;
    cursor: pointer;
    font-weight: bold;
}
section.amanda{
    grid-area:amanda;
    z-index:1;
    position: relative;
}
section.natalia{
    grid-area:natalia;
    z-index:1;
    position: relative;
}
section.henrique{
    grid-area:henrique;
    z-index:1;
    position: relative;
}
section.organizadores{
    grid-area:organizadores;
    background-color: #ECECEC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    padding: 1em;
}
section.organizadores>h3{
    text-align: left;
}
section.organizadores>p{
    text-align: left;
}
section.organizadores>ul{
    text-align: left;
    margin-top: 0.3em;
    padding-left: 1.5em;
}
section.organizadores>ul>li{
    margin-top: 0.3rem;
    list-style-type: disc;
}
p.legenda{
    position:absolute;
    z-index: 2;
    background-color:rgba(0,0,0, 0.5);
    color:white;
    top: 50%;
    transform: translateY(-50%); 
    left: 0;
    width: 100%;
    font-size: 1.2rem;
    padding: 0.8rem 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    box-sizing: border-box;
}