body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 50px;
}
header{
    font-size: 100px;
    font-weight: bold;
    color: #da57e6;
}
h1{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(255, 87, 216);
}
h2{
    font-size: 30px;
    margin-top: 20px;
    color: rgb(255, 87, 216);
}
a{
    color: rgb(103, 23, 85);
    font-size: 25px;
    text-decoration: none;
}
p{
    font-size: 18px;
    margin: 20px;
    text-align: none;
    margin-left: 100px;
    margin-right: 100px;
}
footer{
    font-size: 15px;
    margin-top: 20px;
    color: rgb(255, 87, 216);
    background-color: rgb(103, 23, 85);
}