body{
    background-color: rgb(127, 178, 177);;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1rem;
}
header{
    background-color: rgb(61, 114, 113);
    color: white;
    padding: 1rem;
    text-align: center;
}
main{
    margin: 2rem auto;
    max-width: 100em;
    background-color: white;
    padding: 1rem;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}   
header h1{
    margin: 1rem;
    font-size: 2rem;
    text-align: center;
    color: white;
}
header a{
    color: white;
    text-decoration: underline;
    justify-content: center;
}
section{
    margin-top: 1rem;
    text-align: center;
    display: flex;
    border: 1px solid rgb(61, 114, 113);
}
h1{
    color: rgb(61, 114, 113);
    font-size: 1.5rem;
    text-align: center;
}
h2{
    color: rgb(61, 114, 113);
    font-size: 1.2rem;
    text-align: center;
}
footer{
    text-align: center;
    margin-top: 3rem;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    font-style: normal;
    background-color: rgb(61, 114, 113);
    border-top: 1rem solid rgb(61, 114, 113);;
    border-bottom: 1rem solid rgb(61, 114, 113);
}
a:hover{
    color: rgb(0, 0, 0);
}